/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
    ========================================================================== */
/**
  * 1. Set default font family to sans-serif.
  * 2. Prevent iOS and IE text size adjust after device orientation change,
  *    without disabling user zoom.
  * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
  *  `em` units.
  */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
  * Remove default margin.
  */
body {
  margin: 0;
}

/* HTML5 display definitions
    ========================================================================== */
/**
  * Correct `block` display not defined for any HTML5 element in IE 8/9.
  * Correct `block` display not defined for `details` or `summary` in IE 10/11
  * and Firefox.
  * Correct `block` display not defined for `main` in IE 11.
  */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
  * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
  * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
  */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
  * Prevents modern browsers from displaying `audio` without controls.
  * Remove excess height in iOS 5 devices.
  */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
  * Address `[hidden]` styling not present in IE 8/9/10.
  * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
  */
[hidden],
template {
  display: none;
}

/* Links
    ========================================================================== */
/**
  * Remove the gray background color from active links in IE 10.
  */
a {
  background-color: transparent;
}

/**
  * Improve readability of focused elements when they are also in an
  * active/hover state.
  */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
    ========================================================================== */
/**
  * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
  */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
  * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
  */
b,
strong {
  font-weight: bold;
}

/**
  * Address styling not present in Safari and Chrome.
  */
dfn {
  font-style: italic;
}

/**
  * Address variable `h1` font-size and margin within `section` and `article`
  * contexts in Firefox 4+, Safari, and Chrome.
  */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
  * Addresses styling not present in IE 8/9.
  */
mark {
  background: #ff0;
  color: #000;
}

/**
  * Address inconsistent and variable font size in all browsers.
  */
small {
  font-size: 80%;
}

/**
  * Prevent `sub` and `sup` affecting `line-height` in all browsers.
  */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
    ========================================================================== */
/**
  * 1. Remove border when inside `a` element in IE 8/9/10.
  * 2. Improves image quality when scaled in IE 7.
  */
img {
  border: 0;
}

/**
  * Correct overflow not hidden in IE 9/10/11.
  */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
    ========================================================================== */
/**
  * Address margin not present in IE 8/9 and Safari.
  */
figure {
  margin: 1em 40px;
}

/**
  * Address differences between Firefox and other browsers.
  */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
  * Contain overflow in all browsers.
  */
pre {
  overflow: auto;
}

/**
  * Address odd `em`-unit font size rendering in all browsers.
  * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
  */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
    ========================================================================== */
/**
  * Known limitation: by default, Chrome and Safari on OS X allow very limited
  * styling of `select`, unless a `border` property is set.
  */
/**
  * 1. Correct color not being inherited.
  *  Known issue: affects color of disabled elements.
  * 2. Correct font properties not being inherited.
  * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
  * 4. Improves appearance and consistency in all browsers.
  */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
  * Address `overflow` set to `hidden` in IE 8/9/10/11.
  */
button {
  overflow: visible;
}

/**
  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  * All other form control elements do not inherit `text-transform` values.
  * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
  * Correct `select` style inheritance in Firefox.
  */
button,
select {
  text-transform: none;
}

/**
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  *  and `video` controls.
  * 2. Correct inability to style clickable `input` types in iOS.
  * 3. Improve usability and consistency of cursor style between image-type
  *  `input` and others.
  * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
  *  Known issue: inner spacing remains in IE 6.
  */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
  * Re-set default cursor for disabled elements.
  */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
  * Remove inner padding and border in Firefox 4+.
  */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
  * Address Firefox 4+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */
input {
  line-height: normal;
}

/**
  * 1. Address box sizing set to `content-box` in IE 8/9/10.
  * 2. Remove excess padding in IE 8/9/10.
  *  Known issue: excess padding remains in IE 6.
  */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
  * Fix the cursor style for Chrome's increment/decrement buttons. For certain
  * `font-size` values of the `input`, it causes the cursor style of the
  * decrement button to change from `default` to `text`.
  */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
  * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
  * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
  */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 2 */
}

/**
  * Remove inner padding and search cancel button in Safari and Chrome on OS X.
  * Safari (but not Chrome) clips the cancel button when the search input has
  * padding (and `textfield` appearance).
  */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * Define consistent border, margin, and padding.
  */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
  * 1. Correct `color` not being inherited in IE 8/9/10/11.
  * 2. Remove padding so people aren't caught out if they zero out fieldsets.
  * 3. Corrects text not wrapping in Firefox 3.
  * 4. Corrects alignment displayed oddly in IE 6/7.
  */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
  * Remove default vertical scrollbar in IE 8/9/10/11.
  */
textarea {
  overflow: auto;
}

/**
  * Don't inherit the `font-weight` (applied by a rule above).
  * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
  */
optgroup {
  font-weight: bold;
}

/* Tables
    ========================================================================== */
/**
  * Remove most spacing between table cells.
  */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url(../fonts/WorkSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: auto;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  color: #ffffff;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.nav {
  position: relative;
  height: auto;
  background: #07043b;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#07043b), to(#827eca));
  background: linear-gradient(to right, #07043b 0%, #827eca 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.nav .nav__container {
  max-width: 1100px;
  height: 110px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav__container .nav__ele {
  padding: 0;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav__container .nav__ele--left .nav__logo {
  width: auto;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .nav .nav__container .nav__ele--left .nav__logo {
    height: 80%;
  }
}

.nav .nav__container .nav__ele--right {
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  .nav .nav__container .nav__ele--right {
    font-size: 14px;
  }
}

.nav .nav__container .nav__ele--right .nav__link {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  height: 100%;
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 600px) {
  .nav .nav__container .nav__ele--right .nav__link {
    height: 90%;
    width: 90px;
  }
}

.nav .nav__container .nav__ele--right .nav__link--green {
  background-color: #06d79d;
  border-radius: 4px;
}

.nav .nav__container .nav__ele--right .nav__link--green:hover {
  background-color: #17f9ba;
}

.header {
  position: relative;
  height: auto;
  padding: 50px 0 16vh 0;
  background: #07043b;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#07043b), to(#827eca));
  background: linear-gradient(to right, #07043b 0%, #827eca 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.header .header__container {
  max-width: 1100px;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media only screen and (max-width: 900px) {
  .header .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header .header__container .header__ele {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50%;
}

@media only screen and (max-width: 900px) {
  .header .header__container .header__ele {
    width: 100%;
  }
}

.header .header__container .header__img-cont {
  position: relative;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 900px) {
  .header .header__container .header__img-cont {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 40px;
  }
}

.header .header__container .header__img-cont .header__img {
  height: 380px;
  width: auto;
}

@media only screen and (max-width: 600px) {
  .header .header__container .header__img-cont .header__img {
    height: 250px;
  }
}

.header .header__container .header__title-cont {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media only screen and (max-width: 900px) {
  .header .header__container .header__title-cont {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.header .header__container .header__title-cont .header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 0 25px 0;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  font-size: 34px;
}

@media only screen and (max-width: 600px) {
  .header .header__container .header__title-cont .header__title {
    font-size: 26px;
  }
}

.header .header__container .header__title-cont .header__btn-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 25px 0 0 0;
}

@media only screen and (max-width: 900px) {
  .header .header__container .header__title-cont .header__btn-cont {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    padding: 25px 0 25px 0;
  }
}

.header .header__container .header__title-cont .header__btn-cont .header__btn {
  height: 70px;
  width: 300px;
  font-size: 24px;
  background-color: #06d79d;
  border-radius: 5px;
  text-decoration: none;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header__container .header__title-cont .header__btn-cont .header__btn:hover {
  background-color: #17f9ba;
}

@media only screen and (max-width: 600px) {
  .header .header__container .header__title-cont .header__btn-cont .header__btn {
    width: 60%;
    height: 50px;
    border-radius: 3px;
    font-size: 18px;
  }
}

.about {
  height: auto;
  position: relative;
  background-color: #ffffff;
  padding: 0 0 100px 0;
  border-top: 1px solid #ffffff;
}

.about::before {
  content: "";
  position: absolute;
  top: -10vh;
  right: 0;
  border-bottom: 10vh solid #ffffff;
  border-right: 100vw solid transparent;
  background-color: transparent;
  z-index: 0;
}

@media only screen and (max-width: 600px) {
  .about {
    padding: 0 0 90px 0;
  }
}

.about .about__container {
  position: relative;
  max-width: 1100px;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #07043b;
}

@media only screen and (max-width: 900px) {
  .about .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about .about__container .about__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 70px 0;
  font-size: 30px;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .about .about__container .about__title {
    -webkit-box-flex: 1;
        -ms-flex: 1 60%;
            flex: 1 60%;
  }
}

.about .about__container .about__img-cont {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 900px) {
  .about .about__container .about__img-cont {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 20px 0 70px 0;
  }
}

.about .about__container .about__img-cont .about__img {
  height: 290px;
  width: auto;
}

@media only screen and (max-width: 600px) {
  .about .about__container .about__img-cont .about__img {
    height: 210px;
  }
}

.about .about__container .about__art-cont {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  .about .about__container .about__art-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about .about__container .about__art-cont .about__article {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .about__container .about__art-cont .about__article .about__article-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .about__container .about__art-cont .about__article .about__article-par {
  color: #7f7f7f;
}

.subscribe {
  height: auto;
  position: relative;
  background-color: #ffffff;
  color: #07043b;
  padding: 0 0 22vh 0;
}

.subscribe .subscribe__container {
  position: relative;
  max-width: 1100px;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.subscribe .subscribe__container .subscribe__ele {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe .subscribe__container .subscribe__title {
  margin: 60px 0;
  font-size: 30px;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
}

@media only screen and (max-width: 900px) {
  .subscribe .subscribe__container .subscribe__title {
    margin: 30px 0;
  }
}

.subscribe .subscribe__container .subscribe__par {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
  margin: 0 0 60px 0;
  font-size: 20px;
  color: #100a6e;
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  .subscribe .subscribe__container .subscribe__par {
    font-size: 16px;
    font-weight: 500;
  }
}

.subscribe .subscribe__container .subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 900px) {
  .subscribe .subscribe__container .subscribe__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.subscribe .subscribe__container .subscribe__form .subscribe__input {
  width: 450px;
  height: 50px;
  border: 1px solid rgba(127, 127, 127, 0.2);
  border-radius: 5px;
  margin: 0 15px;
  padding: 0 30px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  color: #7f7f7f;
}

.subscribe .subscribe__container .subscribe__form .subscribe__input::-webkit-input-placeholder {
  color: rgba(127, 127, 127, 0.4);
}

.subscribe .subscribe__container .subscribe__form .subscribe__input:-ms-input-placeholder {
  color: rgba(127, 127, 127, 0.4);
}

.subscribe .subscribe__container .subscribe__form .subscribe__input::-ms-input-placeholder {
  color: rgba(127, 127, 127, 0.4);
}

.subscribe .subscribe__container .subscribe__form .subscribe__input::placeholder {
  color: rgba(127, 127, 127, 0.4);
}

@media only screen and (max-width: 600px) {
  .subscribe .subscribe__container .subscribe__form .subscribe__input {
    width: 90%;
  }
}

.subscribe .subscribe__container .subscribe__form .subscribe__btn {
  width: 250px;
  height: 50px;
  background-color: #06d79d;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 20px;
  margin: 0 15px;
}

.subscribe .subscribe__container .subscribe__form .subscribe__btn:hover {
  background-color: #17f9ba;
}

@media only screen and (max-width: 900px) {
  .subscribe .subscribe__container .subscribe__form .subscribe__btn {
    width: 450px;
    margin: 20px 0;
  }
}

@media only screen and (max-width: 600px) {
  .subscribe .subscribe__container .subscribe__form .subscribe__btn {
    width: 90%;
  }
}

.footer {
  height: auto;
  position: relative;
  background-color: #07043b;
  border-top: 1px solid #07043b;
}

.footer::before {
  content: "";
  position: absolute;
  top: -10vh;
  right: 0;
  border-bottom: 10vh solid #07043b;
  border-right: 100vw solid #ffffff;
  background-color: transparent;
  z-index: 0;
}

.footer .footer__container {
  position: relative;
  max-width: 1100px;
  min-height: 200px;
  margin: 0 auto;
  padding: 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 900px) {
  .footer .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media only screen and (max-width: 600px) {
  .footer .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer .footer__container .footer__ele {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 600px) {
  .footer .footer__container .footer__ele {
    width: 80%;
  }
}

.footer .footer__container .footer__contact {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-right: 15px;
}

@media only screen and (max-width: 900px) {
  .footer .footer__container .footer__contact {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 35%;
            flex: 0 1 35%;
    margin-bottom: 60px;
  }
}

.footer .footer__container .footer__contact .footer__logo-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .footer .footer__container .footer__contact .footer__logo-cont {
    margin: 30px 0;
  }
}

.footer .footer__container .footer__contact .footer__logo-cont .footer__logo {
  height: 50px;
  width: auto;
}

.footer .footer__container .footer__contact .footer__contact-link {
  margin: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 600px) {
  .footer .footer__container .footer__contact .footer__contact-link {
    margin: 15px 0;
  }
}

.footer .footer__container .footer__contact .footer__contact-link .footer__contact-text {
  padding-left: 15px;
  text-decoration: none;
  color: #bbbbbb;
}

.footer .footer__container .footer__links {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding: 0 3% 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-left: 1px solid #7f7f7f;
  border-right: 1px solid #7f7f7f;
}

@media only screen and (max-width: 900px) {
  .footer .footer__container .footer__links {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    border: none;
    padding: 40px 0;
  }
}

@media only screen and (max-width: 600px) {
  .footer .footer__container .footer__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 0 0 0;
  }
}

.footer .footer__container .footer__links .footer__links-cont {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 0 15px;
}

@media only screen and (max-width: 600px) {
  .footer .footer__container .footer__links .footer__links-cont {
    padding: 0 0 25px 0;
  }
}

.footer .footer__container .footer__links .footer__links-cont .fotter__links-title {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 15px;
}

.footer .footer__container .footer__links .footer__links-cont .fotter__links-page {
  text-decoration: none;
  color: #bbbbbb;
  margin: 9px 0;
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
  .footer .footer__container .footer__links .footer__links-cont .fotter__links-page {
    margin: 5px 0;
  }
}

.footer .footer__container .footer__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 0 25px;
}

@media only screen and (max-width: 900px) {
  .footer .footer__container .footer__form {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }
}

@media only screen and (max-width: 600px) {
  .footer .footer__container .footer__form {
    padding: 0;
    margin-bottom: 40px;
  }
}

.footer .footer__container .footer__form .footer__form-par {
  font-size: 15px;
  text-align: left;
  margin-bottom: 25px;
}

@media only screen and (max-width: 600px) {
  .footer .footer__container .footer__form .footer__form-par {
    font-size: 18px;
    text-align: center;
    margin-bottom: 45px;
  }
}

.footer .footer__container .footer__form .footer__form-input {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 0 30px;
  color: #07043b;
}

.footer .footer__container .footer__form .footer__form-btn {
  width: 250px;
  height: 50px;
  background-color: #06d79d;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 20px;
  margin: 0;
}

.footer .footer__container .footer__form .footer__form-btn:hover {
  background-color: #17f9ba;
}

@media only screen and (max-width: 600px) {
  .footer .footer__container .footer__form .footer__form-btn {
    width: 200px;
    border-radius: 3px;
  }
}

@media only screen and (max-width: 1200px) {
  .nav,
  .header,
  .about,
  .subscribe,
  .footer {
    padding-left: 5%;
    padding-right: 5%;
  }
}
/*# sourceMappingURL=style.css.map */