@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: "Work Sans";
    src: url(../fonts/WorkSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: auto;
    background-color: $white;
    box-sizing: border-box;
    width: 100%;
    color: $white;

}

body * {
    box-sizing: border-box;
    margin: 0;

}