.footer {
    height: auto;
    position: relative;
    background-color: $dark-blue;

    &::before {
        content: "";
        position: absolute;
        top: -10vh;
        right: 0;
        border-bottom: 10vh solid $dark-blue;
        border-right: 100vw solid $white;
        background-color: transparent;
        z-index: 0;
    }

    .footer__container {
        position: relative;
        max-width: 1100px;
        min-height: 200px;
        margin: 0 auto;
        padding: 120px 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @include tablets{
            flex-wrap: wrap;
        }
        .footer__ele {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .footer__contact {
            flex: 0 1 25%;
            order: 1;
            flex-direction: column;
            align-items: flex-start;
            padding-right: 15px;
            @include tablets{
                flex: 0 1 35%;
            }
            .footer__logo-cont {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;

                .footer__logo {
                    height: 50px;
                    width: auto;
                }
            }

            .footer__contact-link {
                margin: 8px 0;
                display: flex;
                justify-content: center;
                align-items: center;

                .footer__contact-ico {}

                .footer__contact-text {
                    padding-left: 15px;
                    text-decoration: none;
                    color: $light-grey;
                }
            }
        }

        .footer__links {
            position: relative;
            flex: 0 1 40%;
            order: 2;
            padding: 0 3% 10px;
            align-items: flex-start;
            justify-content: space-around;
            border-left: 1px solid $grey;
            border-right: 1px solid $grey;
            @include tablets{
                order: 3;
                flex: 0 1 100%;
                border: none;
                padding: 40px 0;
            }
            .footer__links-cont {
                flex: 0 1 auto;
                display: flex;
                flex-direction: column;
                height: 100%;
                padding: 0 15px;

                .fotter__links-title {
                    font-size: 17px;
                    font-weight: bold;
                    margin-bottom: 15px;
                }

                .fotter__links-page {
                    text-decoration: none;
                    color: $light-grey;
                    margin: 9px 0;
                    font-size: 15px;
                }
            }
        }

        .footer__form {
            flex: 0 1 30%;
            order: 3;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-direction: column;
            padding: 0 0 0 25px;

            @include tablets{
                order: 2;
                flex: 0 1 65%;
            }
            .footer__form-par {
                font-size: 15px;
                text-align: left;
                margin-bottom: 25px;
            }

            .footer__form-input {
                width: 100%;
                height: 50px;
                border: none;
                border-radius: 5px;
                margin-bottom: 15px;
                padding: 0 30px;
                color: $dark-blue;
            }

            .footer__form-btn {
                width: 250px;
                height: 50px;
                background-color: $green;
                border: none;
                border-radius: 5px;
                color: $white;
                font-size: 20px;
                margin: 0;

                &:hover {
                    background-color: lighten($color: $green, $amount: 10%);
                }
            }
        }
    }
}