.nav{
    position: relative;
    height: auto;
    @include gradient();
    

    .nav__container{
        max-width: 1100px;
        height: 110px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav__ele{
            padding: 0;
            height: 38px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .nav__ele--left{
            .nav__logo{
                width: auto;
                height: 100%;
            }
        }
        .nav__ele--right{
            font-size: 16px;
            
            .nav__link{
                display: inline-block;
                text-decoration: none;
                color: $white;
                height: 100%;
                width: 120px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .nav__link--green{
                background-color: $green;
                border-radius: 4px;
                &:hover{
                    background-color: lighten($color: $green, $amount: 10%);
                }
            }
        }
    }
    
}
.header{
    position: relative;
    height: auto;
    padding: 50px 0 16vh 0;
    @include gradient();
    .header__container{
        max-width: 1100px;
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        .header__ele{
            align-self: center;
            width: 50%;
        }
        .header__img-cont{
            position: relative;
            order: 2;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .header__img{
                height: 380px;
                width: auto;
            }
        }
        .header__title-cont{
            order: 1;
            .header__title{
                display: flex;
                align-items: flex-end;
                padding: 0 0 25px 0;
                font-family: 'Work Sans', sans-serif;
                font-weight: 500;
                font-size: 34px;
                // letter-spacing: 1px;
            }
            .header__btn-cont{
                display: flex;
                align-items: flex-start;
                padding: 25px 0 0 0;
                .header__btn{
                    height: 70px;
                    width: 300px;
                    font-size: 24px;
                    background-color: $green;
                    border-radius: 5px;
                    text-decoration: none;
                    color: $white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover{
                        background-color: lighten($color: $green, $amount: 10%);
                    }
                }
            }
        }
        
        
        
    }
     
}
.about{
    height: auto;
    position: relative;
    // max-width: 100%;
    // border-top: 1px solid $white;
    background-color: $white;
    padding: 0 0 100px 0;
    
    &::before{
        content: "";
        position: absolute;
        top: -10vh;
        right: 0;
        border-bottom: 10vh solid $white;
        border-right: 100vw solid transparent;
        background-color: transparent;
        z-index: 0;
    }
    .about__container{
        position: relative;
        max-width: 1100px;
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        color: $dark-blue;
        .about__title{
            flex: 1 100%;
            display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 60px 0;
                    font-size: 28px;
        }
        .about__img-cont{
            flex: 0 1 40%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .about__img{
                height: 290px;
                width: auto;
            }
        }
        .about__art-cont{
            flex: 0 1 60%;
            display: flex;
            justify-content: center;
                    align-items: flex-start;
                    flex-direction: row;
                    flex-wrap: wrap;
            .about__article{
                flex: 0 1 50%;
                padding: 20px 20px;
                // text-align: left;
                display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-direction: row;
                    flex-wrap: wrap;
                .about__article-title{
                    font-size: 18px;
                    font-weight: 700;
                    margin-bottom: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .about__article-par{
                    color: $grey;
                }
            }
        }
    }
}
.subscribe{
    height: auto;
    position: relative;
    background-color: $white;
    color: $dark-blue;
    padding: 0 0 22vh 0;
    // border: 1px solid $white;
    .subscribe__container{
        position: relative;
        max-width: 1100px;
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        .subscribe__ele{
            flex: 0 1 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .subscribe__title{
            
            
            margin: 60px 0;
            font-size: 28px;
        }
        .subscribe__par{
            flex: 0 1 80%;
            margin: 0 0 60px 0;
            font-size: 20px;
            color: $blue;
            font-weight: 700;
            
        }
        .subscribe__form{
            display: flex;
            justify-content: center;
            align-items: center;
            .subscribe__input{
                width: 450px;
                height: 50px;
                border: 1px solid rgba(127, 127, 127, 0.2);
                border-radius: 5px;
                margin: 0 15px;
                padding: 0 30px;
                -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
                color: rgba(127, 127, 127, 0.6);
                &::placeholder{
                    color: rgba(127, 127, 127, 0.4);
                }
            }
            .subscribe__btn{
                width: 250px;
                height: 50px;
                background-color: $green;
                border: none;
                    border-radius: 5px;
                    color: $white;
                    font-size: 20px;
                margin: 0 15px;
                &:hover{
                    background-color: lighten($color: $green, $amount: 10%);
                }
            }
        }
    }
}
.footer{
    height: 500px;
    position: relative;
    
    // border-top: 1px solid $dark-blue;
    background-color: $dark-blue;
    &::before{
        content: "";
        position: absolute;
        top: -10vh;
        right: 0;
        border-bottom: 10vh solid $dark-blue;
        border-right: 100vw solid $white;
        background-color: transparent;
        z-index: 0;
    }
    .footer__container{
        position: relative;
        max-width: 1100px;
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        .footer__ele{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .footer__contact{
            flex: 0 1 25%;
            flex-direction: column;
            .footer__logo-cont{
                .footer__logo{

                }
            }
            .footer__contact-tel{
                
            }
            .footer__contact-mail{

            }
        }
        .footer__links{
            flex: 0 1 40%;
            align-items: flex-start;
            .footer__links-cont{
                flex: 0 1 33%;
                display: flex;
                flex-direction: column;
                .fotter__links-title{

                }
                .fotter__links-page{

                }
            }
        }
        .footer__form{
            flex: 0 1 30%;
            display: flex;
            flex-direction: column;
            .footer__form-par{

            }
            .footer__form-input{

            }
            .footer__form-btn{

            }
        }
    }
}